<div class="proj-card" data-aos="fade-up" data-aos-delay="500">
  <div class="thumbnail">
    <img src="../../picture/avt.png" alt="thumbnail" />
  </div>

  <div class="card-content">
    <div class="proj-name">
      <span>{{this.name}}</span>
    </div>
    <div class="period">
      <span>{{this.period}}</span>
    </div>

    <div class="proj-description">
      <span>{{this.description}}</span>
      <div class="buttons">
        <button class="btn btn-video">
          <a href="{{this.videoUrl}}">Video demo</a>
        </button>

        <button class="btn btn-source">
          <a href="{{this.sourceUrl}}">Source</a>
        </button>

        <button class="btn btn-live">
          <a href="{{this.liveUrl}}">Live</a>
        </button>
      </div>
    </div>
  </div>
</div>