<div class="proj-card" data-aos="fade-up" data-aos-delay="500">
  <div class="thumbnail">
    <img src="{{this.thumbnail}}" alt="thumbnail" />
  </div>

  <div class="card-content">
    <div class="proj-name">
      <span>{{this.name}}</span>
    </div>
    <div class="period">
      <span>{{this.period}}</span>
    </div>

    <div class="proj-description">
      <span><u><strong>Course:</strong></u> {{this.course}}</span>
      <br />
      <span><u><strong>Description:</strong></u> {{this.description}}</span>
      <div class="buttons">
        {{#if this.videoUrl}}
          <button class="btn btn-video">
            <a href="{{this.videoUrl}}" target="_blank">Video demo</a>
          </button>
        {{/if}}

        <button class="btn btn-source">
          <a href="{{this.sourceUrl}}" target="_blank">Source</a>
        </button>

        {{#if this.liveUrl}}
          <button class="btn btn-live">
            <a href="{{this.liveUrl}}" target="_blank">Live</a>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>